<div>

<!-- <mat-card *ngFor="let cart of carts" >
   
    
    <mat-card-content>
        <h3>{{cart.name}}</h3>
        <br>
        <img mat-card-image  src="{{cart.poster}}"> 
      <p>
          
          <br>
          {{cart.type}}<br>
         
      {{cart.colour}}
      </p>
      <br>
      <p #cost>  {{cart.cost}}<br></p>
     
    </mat-card-content>
   
  </mat-card> -->
  <div class="row">
    <mat-card class="example-card"*ngFor="let cart of carts" >
      <img mat-card-image  width="200"height="200" src={{cart.poster}} alt="Photo of product">
      <mat-card-content>
        <p ><b>Name</b>:{{cart.name|uppercase}}</p>

        <p><b>Type</b>:{{cart.type}}</p>
        <p ><b>Colour</b>:{{cart.colour}}</p>
        <p ><b>Cost</b>:{{cart.cost|currency:'Rs.'}}</p>
        <p ><b>About</b>:{{cart.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="deleteGadgetFromService(cart)"class="btn btn-danger btn-right">Delete</button>
      </mat-card-actions>
    </mat-card>
 
</div>
<button class="btn btn-primary" (click)="buy()">Proceed to buy</button>
</div>

