

<div style="text-align: center;" *ngIf="!(count>0)">
  <h1 class="display-4">Sorry !</h1>
  <p class="lead">You have no products in your cart</p>
  
</div>


<div>


  <div class="row">
    <mat-card class="example-card"*ngFor="let cart of carts ; i as index" >
      <img mat-card-image  width="200"height="200" src={{cart.poster}} alt="Photo of product">
      <mat-card-content>
        <p  ><b>Name</b>:{{cart.name|uppercase}}</p>

        <p ><b>Type</b>:{{cart.type}}</p>
        <p ><b>Colour</b>:{{cart.colour}}</p>
        <p ><b>Cost</b>:{{cart.cost|currency:'Rs.'}}</p>
        <p ><b>About</b>:{{cart.description}}</p>
        {{cart.index}}
        
        <p ><b>No.of Products</b>:<span *ngIf="!enable">{{cart.productCount}}</span><span *ngIf="(key==cart._id)&&enable"><input size="1" [(ngModel)]="cartEdit.productCount"  #count /><button mat-button color="primary" (click)="save()"><mat-icon>save</mat-icon></button><button (click)="cancel()" color="danger" mat-button><mat-icon>cancel</mat-icon></button> </span><button mat-button class="btn btn-primary" *ngIf="!enable" (click)="editProductCount(cart._id)">Edit<mat-icon> border_color</mat-icon></button></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="deleteGadgetFromCart(cart)"class="btn btn-danger btn-right">Delete</button>
      </mat-card-actions>
    </mat-card>
 
</div>
<button class="btn btn-primary" (click)="buy()">Proceed to buy</button>
</div>

