<h1>Payment Details</h1>
<div>
    
        <h1>Product Details</h1>
                
                    <div *ngFor="let cart of carts">
            <p>{{cart.name}} ={{cart.cost}}</p>
                       
                       </div>
            
        

          <p>Total payment:{{sum}}</p>
      
                      </div>
<div>
    <button mat-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
  
    </button>
    <button mat-button color="danger" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
  
    </button>
  </div>
