
<div style="text-align: center;">
  <h1 class="display-4">Hello, {{users.name}}!</h1>
  <p class="lead">Welcome to Music Store</p>
  
</div>


    <div class="row">
        <mat-card  class="example-card col-md-4" *ngFor="let gadget of gadgets" >
        
          <img mat-card-image  width="250"height="250" src={{gadget.poster}} alt="Photo of product">
          <mat-card-content>
           
            <p ><b>Name</b>:{{gadget.name|uppercase}}</p>
   
            <p><b>Type</b>:{{gadget.type}}</p>
            <p ><b>Colour</b>:{{gadget.colour}}</p>
            <p ><b>Cost</b>:{{gadget.cost|currency:'Rs.'}}</p>
            <p ><b>About</b>:{{gadget.description}}</p>
           
          </mat-card-content>
          

          <mat-card-actions *ngIf="gadget.productCount > 0" >
            <button mat-button (click)="addCartToService(gadget._id,gadget.name,gadget.type,gadget.colour,gadget.cost,gadget.poster,gadget.description,gadget.productCount)"class="btn btn-primary btn-right">Add to Cart</button>
          </mat-card-actions>
          <mat-card-actions *ngIf="!(gadget.productCount >0)">
            
            <input  class="btn btn-success btn-right"  readonly value="No Stock">
            

          </mat-card-actions>
        
        </mat-card>
        
        </div>