
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Music Store</a>
  <button (click)="toggleNavbar()" class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }"id="navbarSupportedContent" >
    <ul class="navbar-nav navbar-nav-right mr-auto"(click)="toggleNavbar()">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="isEmployee()">
        <a class="nav-link" routerLink="/gadgets">Music Gadgets</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">AboutUs</a>
      </li>
     
      
    </ul>
    
    <ul class="navbar-nav navbar-nav-left " (click)="toggleNavbar()">
      <li class="nav-item active" *ngIf="isLoggedIn()">
        <a class="nav-link"> <mat-icon matBadge="{{coins}}" matBadgeColor="warn"> monetization_on</mat-icon>coins</a>
       
      </li>
      <li class="nav-item active" *ngIf="isLoggedIn()">
        <a class="nav-link">  <mat-icon matBadge="{{cash}}" matBadgeColor="warn">money</mat-icon>cash </a>
      
      </li>
      <li class="nav-item active" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/cart">  <mat-icon matBadge="{{count}}" matBadgeColor="warn">shopping_cart</mat-icon></a>
      </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
            <a class="nav-link" (click)="logOut()">logout <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item active"*ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"*ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
     
     
    </ul>
  </div>
</nav>
<alert></alert>
<router-outlet></router-outlet>
<hr>
<footer>

  <!-- Copyright -->
  <div class="text-center">© 2020 Copyright:
    <a href="musicstore.com/"> MusicStore.com</a>
  </div>
  <!-- Copyright -->

</footer>