
<mat-card  class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Music Store</mat-card-title>
     
    </mat-card-header>
    <img mat-card-image src="http://4.bp.blogspot.com/-D2-ERmOGjMo/UCB5V-2fuEI/AAAAAAAACIc/xBK3u2qdnWQ/s1600/%E6%A5%BD%E5%99%A8%E3%81%A8%E9%9F%B3%E9%9F%BF%E6%A9%9F%E5%99%A8%E3%81%AE%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88+Musical+instruments+vector+graphic.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        It's a music store, here all possible music gadgets are avaliable of good quality and avaliable in different colours also.
      </p>
      <p style="color:bule;">For any enquiry contact us by <br>Email:musicstore123@gmail.com <br>           or<br>Mobile No.:7432189070 </p>
    </mat-card-content>
    
  </mat-card>
